<h4 class="order_header text-center">Users</h4><br>
<table class="table table-hover border" >
  <thead>
    <tr>
      <th>User Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Mobile no</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.phone %></td>
        <td><%= link_to 'Show', admin_user_path(user), :class => 'btn btn-primary' %></td>
          
    </tr>
    <% end %>
  </tbody>
</table>