<p id="notice"><%= notice %></p>
<h4 class="order_header text-center">Orders History</h4>
 <%= link_to  'Create PDF',  order_pdf_path(format: :pdf), class: "btn btn-info btn-sm float-right", data: {toggle: "tooltip", title: "View PDF Agreement"}%><br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Date&Time</th>
      <th>Address</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Image</th>
     <!--  <th>Order Rating</th -->
    </tr>
  </thead>

  <tbody>
    <% if current_user.orders.present? %>
    <% @orders.each do |order| %>
        <tr>
          <th>ORDER ID</th>
          <th><%= order.id %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      <% order.cart.cart_items.each do |item| %>
        <% product_id = item.product_id
          product = Product.unscoped.find(product_id) %> 
        <% if product.present? %> 
        <tr>
          <td><%= product.name rescue nil %></td>
          <td><%= order.created_at %></td>
            <% address_id = order.address_id %>
            <% @add = Address.find_by(id: address_id)%>
          <% if @add.present? %>
            <td><%= @add.address %>, <%= @add.country%>, <%= @add. post_code%>, <%= @add. district%> </td>
          <% end %>
          <td><%= item.quantity rescue nil %></td>
          <td><%= product.price  || 0.0  rescue nil %></td>
          <td><%= item.quantity * product.price  || 0.0 rescue nil  %></td>
          <td><%= image_tag product.image.url(:thumb) rescue nil %></td> 
          <% if item.product.present? %>
          <td>
            <div class="btn btn-warning"><a href="/order_review/<%= product.id %>">Review</a></div>
          </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th><div class="p-2 mb-2 bg-success text-white float-left" style="margin-left: 10%" ><%= order.cart.quantity %></div></th>
          <th></th>
          <th><div class="p-2 mb-2 bg-success text-white  float-left" style="margin-left: 10%" ><%= order.total %></div></th>
          <!-- <th><%#= link_to  'Create PDF',  order_pdf_path(order, format: :pdf), class: "btn btn-success btn-sm", data: {toggle: "tooltip", title: "View PDF Agreement"}%> -->
          </th>
        </tr>
    <% end %>
    <% end %>
  </tbody>
</table><br><br>

<style type="text/css">
body{
  position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7686274509803922), rgba(255, 255, 255, 0.7686274509803922)), url("https://images3.alphacoders.com/103/thumb-1920-1038304.jpg") no-repeat center center fixed;
    background-size: cover;
  }
</style>