<body>
<div class="container">
<div class="banner">
  <h1><%= @product.name%></h1>
  <div class='star-rating' data-score="<%= @avg_rating %>"></div>
                <strong><%= "#{@reviews.try(:size)} reviews" %></strong>
  <h2><%= @product.description%></h2>
  <h3>Price:₹<bold><%= @product.price%></bold>
    <s>₹<%= @product.full_price%></s></h3>
    <% if current_user.present? %>
          <%= form_for (RatingReview.new) do |f| %>
          <% if current_user.present? %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <% end %>
          <div id="rating-form" class="field col-lg-4 from-group">
            <label>Rating</label>
          </div>
          <div class="field col-lg-6 from-group">
            <%= f.label :review %>
            <%= f.text_area :review , :class => "form-control", autofocus: true %>
          </div>
          <div class="buttn ">
            <%= f.submit "Submit", class: 'buy' %>
          </div>
          <%end %>
           <%end %>
    <% @reviews.each do |review|%>
    <div class='star-rating' data-score="<%= review.rating %>"></div><br>
        "<%= review.review %>"
        <h6>-<%= review.user.name %></h6><hr>
  <% end %>
</div>
 <div class="picture">
   <%= image_tag(@product.image_url, :size => "360x380") %>     
   </div>
 </div>
<script type="text/javascript">
            $('#rating-form').raty({
              path: '/assets/',
              scoreName: 'rating_review[rating]'
            });
          </script>

</body>
<style type="text/css">
   @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  *{
    
    font-family: 'Poppins', sans-serif;
  }
  h1{
     font-family: 'Poppins', sans-serif;
      font-size: 5.1em;
      font-weight: 500;
      background: -webkit-linear-gradient(315deg, #F53803 10%, #F5D020 74%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: #9fa4c4;

  }
  h2{
    font-family: 'Poppins', sans-serif;
      font-size: 2.1em;
  }
  .form-control{
    background-color: #4917e429;
  }
  h3{
     font-family: 'Poppins', sans-serif;
     font-size: 2.1em;
     color: #3aff3a;
  }
  .picture{
   top: 40%;
    left: 70%;
    margin-top: -20px;
    padding-left: 60%;
  }
  .buy{
    margin-top: 20px;
    margin-left: 37%;
  border: 2px solid #fff;
   padding: 5px 20px;
   color: #fff;
   background-color: transparent;

   border-radius: 10px;
   text-decoration: none;
   transform: 2.4s ease;
  }
  .buy:hover{
    text-decoration: none;
    background-color: #fff;
    color: #000;
  }
  .container{
    width: 100%;
    height: 100%;
    /*background: #42455a;*/
  }
  .banner{
    width: 70%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #fff;
  }
</style>