<%= form_for(address) do |f| %>
<div class="field">
  <%#= f.label :user_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
</div>
<div class='row'>
  <div class='order_form col-md-9'>
    <div class='row'>
      <div class='col-md-12'>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="card">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding select-room">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <p>Country</p>
                  <ul class="selectors input-text">
                    <li>
                      <%= f.text_field :country, class: "form-control" %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding select-room">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <p>State</p>
                  <ul class="selectors input-text">
                    <li>
                      <%= f.text_field :state, class: "form-control", min: 0 %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding select-room">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <p>Disrict</p>
                  <ul class="selectors input-text">
                    <li>
                      <%= f.text_field :district, class: "form-control", min: 0 %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding select-room">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <p>Pin Code</p>
                  <ul class="selectors input-text">
                    <li>
                      <%= f.text_field :post_code, class: "form-control", min: 0 %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding select-room">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
                  <p>Address</p>
                  <ul class="selectors input-text">
                  <li>
                    <%= f.text_field :address, class: "form-control", min: 0 %>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create",class: "btn-hover color-signup" %>
  </div>
</div>
<%end%>
<style type="text/css">
  .card {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  transition: 0.8s;
  border-radius: 40px;
  background-color: #7ca9a45e; /* 5px rounded corners */
  }
  .buttons {
  margin: 10%;
  text-align: center;
  }
  .btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  }
  .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  }
  .btn-hover:focus {
  outline: none;
  }
  .btn-hover.color-signup {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }
  .form-control{
    border-radius:20px;
  }
</style>