<%= form_for @personal_message do |f| %>
<center>
  <h2>New message to <%= @receiver.name%></h2>
</center>
<%= hidden_field_tag 'receiver_id', @receiver.id %>
<div class="area">
  <%= f.text_area :body,class: "form-control", placeholder: "Enter Your Message......." %>
  <center><%= f.submit "Send",class: "btn-hover color-login" %></center>
</div>
<%end%>
<style type="text/css">
 .area{
  width: 150%;
  margin: 20px;
 }
  h2 {
  font-size: 2.1em;
  font-weight: 600;
  background: linear-gradient(to right, #d01686 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  }
  .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  }
  .btn-hover:focus {
  outline: none;
  }
  .btn-hover.color-login {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
</style>