<br>
<% if current_cart.cart_items.first.nil?%>
<center>
<img src="http://www.parinfurniture.com/assets/images/empty-cart_ee6141.png" style="height:277px;width:277px;">
<h1>Your Cart is empty!</h1>
<span>Add items to it Now!</span><br>
  <div class="btn-group">
        <%= link_to 'Shop Now',  products_path, :class => "btn btn-danger" %>
      </div>
</center>

<% else %>
<table class=" myTable table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Unit_Price</th>
      <th>Total Price</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_cart.cart_items.any? %>
      <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.description %></td>
         <td><%= image_tag(cart_item.product.image_url, :size => "160x130") %></td>
          <td><%= cart_item.product.category.name %></td>
          <td>
            <%#byebug%>
            <div class="row">
              <% unless cart_item.quantity == 1 %>
                <div class="col-md-4 text-center">
                  <%= link_to "-", update_cart_item_quantity_path(type: "decrease", cart_item_id: cart_item.id), class: "btn btn-info", remote: true %>
                </div>
              <% end %>
              <div class="col-md-4 text-center">
                <%= text_field_tag :quantity, cart_item.quantity, style: "width:100%; height:38px;", class: "text-center", min: 1, :disabled => true %>
              </div>
              <div class="col-md-4 text-center">
                <%= link_to "+", update_cart_item_quantity_path(type: "increase", cart_item_id: cart_item.id), class: "btn btn-info", remote: true %>
              </div>
            </div>

            <script type="text/javascript">
              $(document).ready(function(){
                $('[data-toggle = "tooltip"]').tooltip();
              });
            </script>
              <td><%= cart_item.product.price %></td>
              <td><%= cart_item.product.full_price %></td>
          </td>
            <td><%= link_to "Remove",  remove_cart_path(cart_item.product.id), data: {method: :delete, remote: true}  %>
            </td> 
        </div>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

    <div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 3%" >
      Total Price: <%= current_cart.sub_total %>
    </div>
     <div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 3%" >

     # Your total saving for this order is: <%= current_cart.discount_price%>
    </div> 
    <div class="float-right p-2 mb-2 bg-success text-white " style="margin-right: 5%" >
      Total Quantity: <%= current_cart.quantity %>&nbsp;&nbsp;
    </div>
    <br><br>
    
    <div class="text-center ">
      <div class="btn-group">
        <%#= button_to 'Place Order', order_path(count: @products.count, product_id: @products.ids), :class => "btn btn-info" %>
        <%= link_to 'Place Order',   charges_new_path, :class => "btn btn-danger" %>
      </div>
    </div>
<% end %>





