<body>
<div class="container">
<div class="banner">
  <h1><%= @product.name%></h1>
  <h2><%= @product.description%></h2>
  <h3>Price:₹<bold><%= @product.price%></bold>
    <s>₹<%= @product.full_price%></s></h3><br><br><br><br>
    <a class="btns" href="/products/<%= @product.id %>/cart"><span>Add to Cart</span></a>
    <a class="buy" href="/charges/new"><span>Buy Now</span></a>
</div>
 <div class="picture">
   <%= image_tag(@product.image_url, :size => "360x380") %>     
   </div>
 </div>
]

</body>
<style type="text/css">
   @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
  *{
    
    font-family: 'sans-serif' ;
  }
  h1{
     font-family: 'Poppins', sans-serif;
      font-size: 5.1em;
      font-weight: 500;
      background: -webkit-linear-gradient(315deg, #F53803 10%, #F5D020 74%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: #9fa4c4;

  }
  h2{
    font-family: 'Poppins', sans-serif;
      font-size: 2.1em;
  }
  h3{
     font-family: 'Poppins', sans-serif;
     font-size: 2.1em;
     color: #3aff3a;
  }
  .picture{
   top: 40%;
    left: 70%;
    margin-top: -20px;
    padding-left: 60%;
  }

  .btns{
    margin top: 10px;
  border: 2px solid red;
   padding: 10px 30px;
   color: red;   
   border-radius: 10px;
   text-decoration: none;
   transform: 2.4s ease;
  }
  .btns:hover{
    text-decoration: none;
    background-color: red;
    color: #000;
  }
  .container{
    width: 100%;
    height: 100%;
    /*background: #42455a;*/
  }
  .banner{
    width: 70%;
    height: 70%;
    top: 35%;
    left: 130px;
    position: absolute;
    color: #fff;
  }
</style>