<p id="notice"><%= notice %></p>
<br><br><br>
<% if current_user.wishlists.first.nil?%>
<center>
<img src="http://www.parinfurniture.com/assets/images/empty-cart_ee6141.png" style="height:277px;width:277px;">
<h1>Empty Wishlist.</h1>
<span>You have no items in your wishlist. Start adding!</span>
</center>

<% else %>

<table class="table table-hover">
  <h1 class="text-center">Wishlists Products</h1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <% if product.image_url.present? %>
        <td><a href="/product/<%= product.id %>"><%= image_tag(product.image_url, :size => "260x180") %></td>
          <%else%>
          <td><img src="https://i7.pngguru.com/preview/419/969/249/desktop-wallpaper-vegetable-basket-4k-resolution-8k-resolution-vegetable.jpg"></td>
          <%end%>
         <td><%= link_to "Remove", remove_wishlist_path(product), data: {method: :delete},class: 'btn btn-danger'  %>
        </td>
      </tr>
    <% end %>
  
      <%#= link_to "Place Order", remove_wishlist_path(product), data: {method: :delete, remote: true}, class: 'btn btn-info'  %>
  </tbody>
</table>
  <%end%>
<br>
<style type="text/css">
   body{
  position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7686274509803922), rgba(255, 255, 255, 0.7686274509803922)), url("https://images3.alphacoders.com/103/thumb-1920-1038304.jpg") no-repeat center center fixed;
    background-size: cover;
  }
</style>


